<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <h1>
        Hello World
    </h1>
    <!-- Create search -->
    <form action="/articles/">
        <input type="text" name='query'>
        <input type="submit">
    </form>
    <!-- Create search end -->
    {% block content %} {%endblock content%}
</body>

</html>